<template>
  <div class="controls-panel">
    <div class="cut">
      <h1 class="white-title">{{ content.pageHeader }}</h1>
      <div class="inner-panel">
        <div
          v-for="(item, name, index) in value.data"
          :class="`row ${name} row--${name} ${
            sliderLocker(item) ? 'row--disabled' : ''
          }`"
          :key="index"
        >
          <template v-if="item.type == 'slider'">
            <Slider
              :disabled="sliderLocker(item)"
              :semidisabled="state.showChangeInputsButton"
              :key="name"
              :title="item.title"
              :subtitle="item.subtitle"
              :valueType="item.value_type"
              :value="item.value"
              @input="onDataChanged(name, item, $event)"
              @drag-start="$emit('drag-start', { key: name })"
              @drag-end="$emit('drag-end', { key: name })"
              :min="item.min_value"
              :max="item.max_value"
              :displayMin="item.displayMin"
              :displayMax="item.displayMax"
              :dotSize="dotSize"
              :fmt="fmt(name)"
            />
          </template>
          <template v-else-if="item.type == 'switch'">
            <switch-button
              :disabled="sliderLocker(item)"
              :isEnabled="true"
              v-model="value.data[name].value"
              :title="value.data[name].title"
              @toggle="onDataChanged(name, value.data[name], $event)"
            />
          </template>
        </div>

        <div class="inner-panel__buttons">
          <app-button
            v-show="touchedSliders.length"
            @click="$emit('findOut', getValues())"
            class="bottom-btn"
          >
            {{ content.button }}
          </app-button>
          <app-button
            v-show="state.showChangeInputsButton"
            @click="$emit('changeInputs')"
            class="bottom-btn"
          >
            {{ content.buttonChange }}
          </app-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Inject, Watch } from 'vue-property-decorator';
import Slider from './Slider.vue';
import SwitchButton from './Switch.vue';
import { BioDataParameter } from '@/graphics/patient';

@Component({ components: { Slider, SwitchButton } })
export default class Controls extends Vue {
  @Prop({ type: Object }) readonly value!: any;
  @Prop({ type: Object }) readonly state!: any;
  @Inject('dataContent') private dataContent!: any;

  showChangeInputs = false;
  touchedSliders: Array<string> = [];

  get showFindOutButton(): boolean {
    return this.touchedSliders.length !== 0;
  }

  get dotSize(): number {
    return 22;
  }

  get feno(): object {
    return this.value.data['feno'];
  }
  get content() {
    return (this.dataContent as any)['builder'];
  }

  fmt(key: string) {
    // return undefined;
    switch (key) {
      // case 'lung':
      // return this.fmtLung;
      case 'asthma':
        return this.fmtAsthma;
      default:
        return undefined;
    }
  }
  // fmtLung: (v: number) => v,
  fmtAsthma(v: number) {
    return v === 4.0 ? '4+' : Math.round(0 + (4 * v) / 4);
  }
  // onDragEndAsthma: () => {},

  sliderLocker(item: BioDataParameter) {
    const { depends } = item;
    if (!depends) return false;
    if (depends === 'type2') {
      return !this.value.data.type2.value;
    }
    return this.touchedSliders.indexOf(depends) <= -1;
  }
  getValues() {
    return this.value.data;
  }
  trackTouchedControls(key: string) {
    // Track touched controls
    if (!this.touchedSliders.includes(key)) {
      this.touchedSliders.push(key);
    }
  }
  onDataChanged(key: string, data: any, value: object) {
    data.value = value;
    this.trackTouchedControls(key);
    this.$emit('onDataChanged', {
      key,
      value,
    });

    if (key === 'type2' && !value) {
      this.value.data.rhinitis.value = false;
      this.value.data.dermatitis.value = false;
      this.value.data.polyps.value = false;
    }
  }

  @Watch('$route')
  onRouteChange() {
    this.touchedSliders.length = 0;
  }
}
</script>

<style lang="sass">
.row
  display: flex
  &--rhinitis
    &.row--disabled
      display: none
      & + .row--dermatitis,
      & ~ .row--polyps
        display: none
  &--rhinitis,
  &--dermatitis,
  &--polyps
    width: 28%
    float: left
    //text-align:
    label
      font-size: 11px
      line-height: 1
      margin-top: 5px!important
    .switch-button-control
      display: none
    .enabled label
      color: $colorBgBright!important
  &--feno
    clear: both
  &--dermatitis
    text-align: center
    width: 44%
  &--polyps
    text-align: right
</style>

<style lang="sass" scoped>
//margin-top: 10px
.white-title
  font-size: 28px
  margin: 33px 0 0 37px
  color: #fff
  text-align: left
  white-space: pre-line
  width: 600px
  sup
    font-size: 0.6em
    line-height: 0

.inner-panel
  padding: 27px 32px 0 38px
  pointer-events: initial
  flex: 1
  position: relative
  .row
    margin-bottom: 10px
  .inner-panel__buttons
    position: absolute
    bottom: 35px
    right: 42px
    left: 38px
.slider-container[disabled]
  opacity: 0.6

//div.ocs[disabled]
//  //value = #d8d8d8
//  opacity: 0.6
//
//  &:not([semidisabled])
//    .switch-button .disabled
//      background: white
//
//    .value.on-value
//      color: #d8d8d8
//
//    .value.off-value
//      color: #d8d8d8
//
//    .button
//      background: #d8d8d8
//      border-color: #d8d8d8

div.ocs
  //margin-left: 1.7vw
  //margin-top: 0.5vw

.controls-panel
  z-index: 3
  height: 101%
  width: 375px
  position: absolute
  left: 0
  top: 0
  pointer-events: none
  background: url("~@/assets/images/bg-sidebar-builder.png") no-repeat
  background-size: cover
  will-change: transform

.cut
  margin-top: 0
  width: 100%
  height: 100%
  position: absolute
  display: flex
  flex-direction: column

+b(bottom-btn)
  +btn
  background: #fff
  color: $colorBase
  font-size: 18px
  font-weight: bold
  text-transform: uppercase
  display: flex
  margin-top: 15px
  padding: 8px 15px 5px
  width: 100%

  &:after
    margin-left: auto
    display: block
    content: ''
    width: 12px
    height: 20px
    background: url('~@/assets/images/ui/icon-arrow-right.png')
    background-size: 100% 100%
    position: relative
    top: -1px
</style>
