<template>
  <div
    :disabled="disabled"
    :semidisabled="semidisabled"
    class="slider-container"
    :style="`--tooltip-font-size: ${tooltipFontSize}`"
  >
    <span :disabled="disabled" class="title" v-html="title" />
    <span class="right">
      <span class="value-range">{{ displayMax || max }} {{ valueType }}</span>
    </span>
    <vue-slider
      class="myslider"
      :class="{ semidisabled: semidisabled }"
      ref="slider"
      v-bind:value="value"
      v-on:change="$emit('input', $event)"
      v-on:drag-start="$emit('drag-start', $event)"
      v-on:drag-end="$emit('drag-end', $event)"
      :dotSize="dotSize"
      tooltip="always"
      :disabled="disabled"
      :process="true"
      :min="min"
      :max="max"
      :contained="true"
      railStyle="height: 2px; background: white"
    >
      <template v-slot:tooltip="d" :fmt="fmt">
        <div class="custom-tooltip">{{ fmt ? fmt(d.value) : d.value }}</div>
      </template>
    </vue-slider>
  </div>
</template>

<script lang="ts">
import 'vue-slider-component/theme/antd.css';
import Vue from 'vue';
import VueSlider from 'vue-slider-component';

export default Vue.extend({
  name: 'Slider',
  components: {
    VueSlider,
  },
  methods: {
    // fmt: (v:any) => {
    //     return "Hell";
    //     // return `${80-v + 40}`;
    // },
  },
  data: () => {
    return {
      mymodel: 0,
    };
  },
  props: {
    disabled: Boolean,
    semidisabled: Boolean,
    value: Number,
    valueType: String,
    min: Number,
    max: Number,
    displayMin: String,
    displayMax: String,
    title: String,
    subtitle: String,
    dotSize: Number,
    fmt: Function,
  },
  computed: {
    tooltipFontSize() {
      if (this.value < 100) {
        return '13px';
      } else if (this.value >= 100 && this.value < 1000) {
        return '10px';
      } else {
        return '8px';
      }
    },
  },
});
</script>

<style lang="scss">
// $themeColor: #ffffff;
// $dotBgColor: #f2b643;
// $tooltipColor: black;

@import '../../assets/theme/default.scss';

div.range {
  //padding-left: 0.85vw;
  //margin-top: 0.4vw;
  display: flex;
  justify-content: space-between;
}

div.myslider {
  // padding-top: 30px;
}

div.slider-container {
  color: #ffffff;
  text-align: left;
  padding-bottom: 5px;
  width: 100%;
  --tooltip-font-size: 13px;
  //padding-left: 0vw;
  //font-size: 0.8vw;
}

span.title {
  //padding-left: 18px;/
  // margin-bottom: 0.8vw;
  // display: block;
  font-size: 18px;
  font-weight: bold;
  //letter-spacing:/ 0.027em;
  //text-transform: uppercase;
  & small {
    //font-size: 10px;
    font-weight: normal;
    sub{
      //line-height: 0;
      //height: 20px;
      //font-size: 6px;
      //vertical-align: baseline;
    }
  }
}

.secondary {
  font-size: 1.05vw;
  letter-spacing: initial;
}

div.range > span {
  padding-left: 1.24vw;
  font-size: 1.1vw;
  font-family: Aller;
}

span.right {
  float: right;
  margin: 2px 10px 0 0;
  font-size: 10px;
}

//.switch-button-control .switch-button {
//  background-color: white;
//  height: 1.6em;
//  width: calc(1.6em * 2);
//  /* box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.33); */
//  border-radius: 1.6em;
//  transition: all 0.3s ease-in-out;
//  cursor: pointer;
//}
//
//.switch-button-control .switch-button .button {
//  height: calc(1.6em - (2 * 0.2vw));
//  width: calc(1.6em - (2 * 0.2vw));
//  border: 0.2vw solid var(--color);
//  border-radius: calc(1.6em - (2 * 0.2vw));
//  background: #fdb515;
//  transition: all 0.3s ease-in-out;
//}
</style>

<style lang="sass">
.value-units
  letter-spacing: 0.016vw
.vue-slider-dot
  will-change: transform
.vue-slider-dot-handle,
.vue-slider-dot-handle:focus,
.vue-slider-dot-handle:active
  outline: none
  box-shadow: none
.myslider
  transition: 2s
  &.vue-slider-disabled
    opacity: 1.0
    &:not(.semidisabled)
      .vue-slider-dot-handle
        background-color: white
      .vue-slider-dot-tooltip
        display: none

  .vue-slider:hover .vue-slider-dot-handle:hover,
  .vue-slider-dot-handle, .vue-slider-dot-handle:hover
    background-color: #fdb515
    border-color: #fdb515
    border: none

  .vue-slider-dot:hover .vue-slider-dot-tooltip,
  .vue-slider-dot-tooltip-show
    top: 100%
    font-size: var(--tooltip-font-size)

  &.vue-slider
    height: 0.2vw
    &:hover
      .vue-slider-process
        background-color: #fff

    .vue-slider-process
      background: #fff
      &:hover
        background: #fff
.row--asthma
  .vue-slider-dot-tooltip-show
    font-size: 13px!important
</style>
