@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-Medium.woff2') format('woff2'),
  url('~@/assets/fonts/Ubuntu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu.woff2') format('woff2'),
  url('~@/assets/fonts/Ubuntu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-Italic.woff2') format('woff2'),
  url('~@/assets/fonts/Ubuntu-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/Ubuntu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
  url('~@/assets/fonts/Ubuntu-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
