<template>
  <div class="patient-info">
    <h2 class="patient-info__title" v-html="patientData.title" />

    <div class="patient-info__profile">

      <div class="patient-info__avatar">
        <img :src="photoSmallSrc" alt="patient" class="patient-info__photo" />
      </div>

      <div class="patient-info__details">
        <h3 class="patient-info__name">{{ patientName }}</h3>
        <p class="patient-info__params">
          <span>{{ patientAge }}</span
          >
          <span>{{ patientGender }}</span>
        </p>
      </div>
    </div>

    <div
      class="patient-info__diagnosis"
      v-html="patientData.patient.diagnosis.replace(/\n/gi, '<br>')"
    />
    <div class="patient-info__proposal">
      <ul>
        <li
          v-for="(item, index) of patientData.patient.proposal"
          :key="index"
          class="patient-info__proposal-item"
        >
          {{ item }}
        </li>
      </ul>
    </div>
    <dl class="patient-info__medical">
      <div
        v-for="(item, index) of patientData.patient.medical"
        :key="index"
        class="patient-info__medical-item"
      >
        <dt>{{ item.prop }}</dt>
        <dd v-html="item.value" />
      </div>
    </dl>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { PatientData } from '../../../public/data/patients/types';

@Component
export default class PatientInfo extends Vue {
  @Prop({ required: true })
  readonly patientData!: PatientData;

  get photoSmallSrc() {
    return `./data/patients/${this.patientData.id}-small.png`;
  }

  get patientName() {
    return this.patientData.patient.profile?.name || 'Name';
  }

  get patientAge() {
    return this.patientData.patient.profile?.age || 'Age';
  }


}
</script>

<style lang="sass">
+b(patient-info)
  +e(title)
    margin-top: 7px
    color: $colorBgMain
    font-size: 21px
    text-transform: uppercase
    min-height: 43px
    display: flex
    align-items: flex-end
    small
      margin-bottom: 2px
    //sub
    //  font-size: 10px

  +e(profile)
    display: flex
    //align-items: flex-end
    margin-top: 32px

  +e(avatar)
    width: 84px
    height: 84px
    margin-right: 20px
    background-color: #fff
    display: flex
    align-items: flex-end
  +e(photo)
    display: block
    width: 100%

  +e(details)
    align-self: flex-end
    color: #009688
  +e(name)
    margin-top: auto
  +e(params)
    margin-top: 0
    margin-bottom: 0
  +e(diagnosis)
    margin-top: 28px

    & > p
      //margin-bottom: /15px
      margin-top: 7px
      margin-bottom: 0
      font-weight: bold
      line-height: 1.2

      &:last-child
        margin-bottom: 0

  +e(proposal)
    margin-top: 22px
    ul
      padding: 0

  +e(proposal-item)
    //display: flex
    //align-items: center
    padding-left: 18px
    position: relative
    line-height: 1.2
    margin-top: 9px
    &:before
      content: ''
      display: block
      width: 4px
      height: 4px
      //margin-right: 10px
      background-color: orange
      border-radius: 4px
      position: absolute
      top: 8px
      left: 3px
      //float: left
      //margin: 8px 10px 0 3px
  +e(medical)
    margin-top: 20px
    margin-bottom: 0
  +e(medical-item)
    display: flex
    justify-content: space-between
    padding: 4px 0
    border-bottom: 1px solid rgba(black, 0.2)

    &:last-child
      border-bottom: none
    dd
      font-weight: bold
      //display: flex
      //align-items: center
      //sub/
        font-size: 8px
        line-height: 18px
        margin-top: auto
</style>
