<template>
  <button v-on="$listeners" class="app-button1">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'AppButton',
};
</script>

<style lang="scss">
.app-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  height: 30px;
  color: white;
  text-transform: uppercase;
  background-color: $colorBgMain;
  border: none;
  cursor: pointer;
}
</style>
