<template>
  <div class="app-page">
    <keep-alive :include="['Home', 'Type2Asthma']">
      <router-view v-on="$listeners" />
    </keep-alive>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'AppPage',
});
</script>

<style lang="sass" scoped>
+b(app-page)
  position: relative
  width: 100%
  height: inherit
  overflow: hidden
  +m(bg)
    background: #ffffff

</style>
