<template>
  <button @click="showDrawer" class="home-page__btn-select">
    select a patient
    <!--    <span class="app-select-patient-button__burger">&times;</span>-->
  </button>
</template>

<script lang="ts">
import { Vue, Component, Emit } from 'vue-property-decorator';

@Component
export default class AppSelectPatientButton extends Vue {
  @Emit()
  showDrawer() {
    this.$emit('show-drawer');
  }
}
</script>

<style lang="scss">
.app-select-patient-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  height: 30px;
  color: white;
  text-transform: uppercase;
  background-color: $colorBgMain;
  border: none;
  cursor: pointer;
}
</style>
