<template>
  <div class="types-page">
    <AppLogo />
    <AppPageHeader>
      {{ content.pageHeader }}
    </AppPageHeader>
    <DosingCarousel />
  </div>
</template>

<script lang="ts">
import {Vue, Component, Inject} from 'vue-property-decorator';
import AppLogo from '@/components/app/AppLogo.vue';
import AppPageHeader from '@/components/app/AppPageHeader.vue';
import DosingCarousel from '@/components/dosing/DosingCarousel.vue';

@Component({ components: { DosingCarousel, AppLogo, AppPageHeader } })
export default class Dosing extends Vue {
  @Inject('dataContent') private dataContent!: boolean;

  get content() {
    return (this.dataContent as any)['dosing'];
  }
}
</script>

<style lang="scss">
.types-page {
  position: relative;
  height: inherit;
  padding: 15px 25px;
  overflow: hidden;
}
</style>
