<template>
  <div
    class="home-page"
    :class="{ 'home-page--build-sidebar': showBuilderSidebar }"
  >
    <div class="home-page__sidebar" v-show="!state.showControls">
      <AppLogo left :colored="false" />
      <div class="home-page__wrap">
        <h2 class="home-page__subtitle">{{ content.subtitle }}</h2>
        <h1 class="home-page__title">{{ content.title }}</h1>
        <h3 class="home-page__heading">{{ content.heading }}</h3>
        <div class="home-page__buttons">
          <button @click="state.showModal = true" class="home-page__btn-about">
            {{ content.buttonAbout }}
          </button>
          <!--        <AppSelectPatientButton v-on="$listeners" />-->
          <button @click="$emit('show-drawer')" class="home-page__btn-select">
            {{ content.buttonSelect }}
          </button>
          <router-link to="/build">
            <app-button
              class="home-page__btn-build"
              @click="state.showControls = true"
            >
              {{ content.buttonBuild }}
            </app-button>
          </router-link>
        </div>
      </div>

      <div class="home-page__note">
        <h6>{{ content.titleIndication }}</h6>
        <p>{{ content.contentIndication }}</p>
        <p>{{ content.code }}</p>

      </div>
    </div>

    <Controls
      v-show="state.showControls"
      :state="state"
      v-model="model"
      @findOut="onFindOutClicked"
      @changeInputs="onChangeInputsClicked"
      @colorChange="onColorChange"
      @onDataChanged="onDataChanged"
      @drag-start="onDragSliderStart"
      @drag-end="onDragSliderEnd"
    />

    <BuilderSidebar
      v-if="showBuilderSidebar"
      :builderData="builderData"
      @show-controls="openControls"
      @show-drawer="$emit('show-drawer')"
    ></BuilderSidebar>

    <div
      v-if="state.showControls"
      class="component__footer-note component__footer-note--home"
      v-html="content.pageFooter"
    />
    <AppModal
      v-if="state.showModal"
      @close-modal="state.showModal = false"
      :paddings="['55px', '100px', '35px', '100px']"
      design="app-modal--home"
    >
      <TypesCarousel
        @show-drawer="openDrawer"
        @close-modal="openBuilder"
        :isModal="true"
      />
    </AppModal>

    <div id="portal-target" />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch, Inject } from 'vue-property-decorator';
import TypesCarousel from '@/components/type2asthma/TypesCarousel.vue';
import Controls from '@/components/builder/Controls.vue';
import AppSelectPatientButton from '@/components/app/AppSelectPatientButton.vue';
import AppLogo from '@/components/app/AppLogo.vue';
import AppModal from '@/components/app/AppModal.vue';
import BuilderSidebar from '@/components/builder/BuilderSidebar.vue';
import TWEEN from '../graphics/lib/tween/tween.esm.js';
import { data as PatientData, BioData } from '@/graphics/patient';

@Component({
  components: {
    Controls,
    TypesCarousel,
    AppSelectPatientButton,
    AppLogo,
    AppModal,
    BuilderSidebar,
  },
})
export default class Home extends Vue {
  @Inject('patientData') private patientData!: BioData;
  @Inject('showBuilderSidebar') private showBuilderSidebar1!: boolean;
  @Inject('dataContent') private dataContent!: boolean;

  model = {
    data: this.patientData,
  };
  showBuilderSidebar = this.showBuilderSidebar1;
  t = PatientData;
  state = {
    showModal: false,
    showDupixentIndicated: false,
    showPatientResultSelector: false,
    showChangeInputsButton: false,
    showPatientInfo: false,
    patientNumber: 0,
    showControls: false,
    type: 0,
    advancedInfoState: {
      visible: false,
      patientNumber: 0,
    },
  };
  builderData = {};
  mounted() {
    this.state.showControls = this.$route.name === 'Build';
  }

  resetValues(data: any) {
    for (const i in data) {
      if (data[i]) {
        const d = { value: data[i].value };
        new (TWEEN as any).Tween(d)
          .to({ value: data[i].min_value }, 2000)
          .easing((TWEEN as any).Easing.Quadratic.Out)
          .onUpdate(() => {
            data[i].value = d.value;
            this.$emit('controls-values', { key: i, value: d.value });
          })
          .start();
      }
    }
  }

  buildPatient() {
    this.state.showControls = true;
  }

  onFindOutClicked(data: any) {
    // Result
    this.builderData = data;
    this.showBuilderSidebar = true;
    this.state.showControls = false;
    this.$emit('state-builder', true);
  }

  onChangeInputsClicked() {
    // Rebuild
  }

  onColorChange() {
    // Rebuild
  }

  onDataChanged(data: any) {
    // Rebuild
    this.$emit('controls-values', data);
  }

  onDragSliderStart() {
    // Rebuild
  }

  onDragSliderEnd(data: { key: string }) {
    if (data.key === 'asthma') {
      const asthma = this.model.data.asthma;

      const v = asthma.value / 1.0;
      const value = Math.round(v) * 1;
      this.model.data.asthma.value = value;

      this.$emit('controls-values', {
        key: 'asthma',
        value: value,
      });
    }
  }

  openDrawer() {
    this.state.showModal = false;
    this.$emit('show-drawer');
  }

  openBuilder() {
    this.state.showModal = false;
    this.$router.push('build');
  }

  openControls() {
    this.state.showControls = true;
    this.showBuilderSidebar = false;
    this.$emit('state-builder', false);
  }

  get content() {
    return (this.dataContent as any).home;
  }

  resetMe() {
    this.showBuilderSidebar = false;
  }

  @Watch('$route')
  onRouteChange(to: any) {
    this.state.showControls = to.name === 'Build';
    this.state.showModal = false;
    this.resetMe();
  }
}
</script>

<style lang="sass" scoped>
+b(home-page)
  position: relative
  height: inherit
  overflow: hidden
  +e(sidebar)
    display: flex
    flex-wrap: wrap
    //flex-direction: column
    //justify-content: space-between
    width: 370px
    height: inherit
    height: 768px
    padding: 98px 10px 60px 40px
    color: white
    //background-image: linear-gradient(rgba(#017c67, 0), #017c67)
    //background: url("~@/assets/images/bg-sidebar.png") no-repeat  rgba(#00a880, .86)
    background: url("~@/assets/images/bg-sidebar.png") no-repeat 100% 50%
    background-size: 100% 100%
    background-position: 100% 100%
  +e(title)
    margin-top: -5px
  +e(subtitle)
    font-weight: 400
  +e(heading)
    margin-top: 17px
    margin-left: 3px
  +e(buttons)
    margin-left: 3px
    width: 231px

  +e(btn-about)
    +btn
    font-size: 18px
    text-transform: uppercase
    color: #fff
    font-weight: bold
    margin-top: 26px
    padding: 0
    display: flex
    border-bottom: 2px solid #fff
    padding-bottom: 3px
    width: 100%
    //&:after
    //  margin-left: auto
    //  display: blockx
    //  content: ''
    //  width: 15px
    //  height: 15px
    //  background: url('~@/assets/images/ui/icon-plus.png')
    //  background-size: 100% 100%
    //  margin-top: 1px

  +e(btn-select)
    +btn
    background: #fff
    color: $colorBase
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
    display: flex
    margin-top: 26px
    padding: 6px 10px 6px
    width: 100%

    &:after
      margin-left: auto
      display: block
      content: ''
      width: 15px
      height: 15px
      background: url('~@/assets/images/ui/icon-menu.png')
      background-size: 100% 100%
      margin-top: 3px

  +e(btn-build)
    +btn
    font-size: 18px
    text-transform: uppercase
    color: #fff
    font-weight: bold
    margin-top: 27px
    display: flex
    padding: 3px 10px 3px
    border-bottom: 2px solid #fff
    width: 100%

    &:after
      margin-left: auto
      display: block
      content: ''
      width: 12px
      height: 20px
      background: url('~@/assets/images/ui/icon-arrow-right.png')
      background-size: 100% 100%
  +e(wrap)
    margin-bottom: auto
  +e(note)
    margin-top: auto
    //padding-right: 15px
    margin-left: 3px
    letter-spacing: 0
    padding-right: 12px
    //width: 330px
    h6
      margin-top: 0
    h6,
    p
      //margin-top: 0
      font-size: 10px
      line-height: 1.07
    p
      margin-top: 6px
      margin-bottom: 12px
  +m(build-sidebar)
    +e(sidebar)
      display: none
</style>
<style lang="sass">
.home-page
  .app-page-header__text
    font-size: 26px
    max-width: initial
    line-height: 1
  .type-affects__symptoms
    width: 46%
    padding-right: 20px
  .type-affects__lead
    padding-left: 20px
    width: 54%
    .type-affects__title
      padding-right: 130px
  .lead__list
    margin-right: 0
  .lead__item
    margin-bottom: 15px
    width: 45%
    &:nth-child(2n-1)
      width: 55%
  .type-affects__title
    margin-top: 5px
</style>
