<template>
  <div ref="canvasDiv" id="threejs-canvas-div">
    <canvas @click="onClick" ref="canvas" id="webgl-canvas" />
  </div>
</template>

<script type="module" lang="ts">
const CREATE_PARTICLES = true;
const USE_ORBIT_CONTROL = false;

import TWEEN from './lib/tween/tween.esm.js';
import {FBXLoader} from './lib/FBXLoader';
import {TrackballControls} from 'three/examples/jsm/controls/TrackballControls.js';
import {TransformControls} from 'three/examples/jsm/controls/TransformControls';
import Vue from 'vue';
import {
  WebGLRenderer, Color,
  Object3D,
  Vector3,
  Mesh, BufferGeometry, ShaderMaterial, Texture, MeshBasicMaterial, Skeleton, SkinnedMesh, Float32BufferAttribute
} from 'three';
import * as THREE from 'three';

// import { PointsMaterial } from './lib/PointsMaterial';
import {Component, Prop, Watch} from 'vue-property-decorator';
import {addBarycentricCoordinates, unindexBufferGeometry, addRandomizedAttribute} from './lib/geom.js';

import {Setup, Handlers, data as PatientData, normalizeData, BioDataParameter} from './patient';

const Nebula = require('three-nebula'); // Doesn't found THREE. For debugging.
// let System = Nebula.System;

// Assets
const pointsTexture = require('@/assets/images/particle.png');
const diffuseTexture = require('@/assets/images/diffuseSurface_Color.png');

//window['THREE'] = THREE;

const GUI = require('three/examples/jsm/libs/dat.gui.module');

const point_vert = require('!!raw-loader!./shaders/points_skinning_vert.glsl').default;
const point_frag = require('!!raw-loader!./shaders/points_skinning_frag.glsl').default;
THREE.ShaderLib.points.vertexShader = point_vert;
THREE.ShaderLib.points.fragmentShader = point_frag;

@Component
export default class Scene extends Vue {
  // @Prop() public properties!: object;
  // @Prop() public data!: object;
  @Prop() public controlsValues!: object;
  @Prop() public isShowBuilder!: boolean;
  @Prop() public isPlayScene!: boolean;

  private width = 400;
  private height = 700;
  private dramaticValue = 0;

  private bodyUniforms = THREE.UniformsUtils.merge([
    THREE.ShaderLib.basic.uniforms,
    {
      map: {type: 't', value: null},
      fresnelColor: {value: new THREE.Color('#07fcff')},
      fresnelCoeff: {value: 0.898},
      fresnelPow: {value: 1.782},
      fresnelThresh: {value: 0.302},
      fresnelCutoff: {value: 0.5},
      baseColor: {value: new THREE.Color('#051022')},
      tintColor: {value: new THREE.Color('#ffffff')},
      orangeColor: {value: new THREE.Color('#ca7140')},
      mesh_opacity: {value: 0.5},
      mesh_definition: {value: 0.01},
      timeer: {value: 0.0},
      huee: {value: 0.0},
    },
  ]);
  private canvas!: HTMLCanvasElement;
  private setup!: Setup;
  private control!: TransformControls;
  private controls!: TrackballControls;
  private handlers!: Handlers;
  private gui!: any;
  private system!: any;
  private renderer!: any;
  private points!: any;
  private emitter!: any;
  private mixers!: THREE.AnimationMixer[];
  private time = 0;
  private interval = 1.0 / 60.0;


  // @Watch('dramaticValue')
  // private onDramaticValueChanged(nv: number, ov: number) {
  // }
  // @Watch('bodyUniforms.fresnelColor.value')
  // @Watch('bodyUniforms.fresnelCoeff.value')
  // @Watch('bodyUniforms.fresnelPow.value')
  // @Watch('bodyUniforms.fresnelThresh.value')
  // @Watch('bodyUniforms.fresnelCutoff.value')
  // @Watch('bodyUniforms.baseColor.value')
  // @Watch('bodyUniforms.mesh_opacity.value')
  // @Watch('bodyUniforms.mesh_definition.value')
  // public onFresnelCoeff(nv: any, old: any) {
  //     const bodyMat = this.setup.bodyMat;
  //     for (const k in bodyMat.uniforms) {
  //         if (bodyMat.uniforms[k]) {
  //             const v = bodyMat.uniforms[k].value;
  //             if (v instanceof Color) {
  //                 (this.setup.guiData.bodyData as any)[k] = `#${v.getHexString()}`;
  //             }
  //             if (typeof v === 'boolean' || typeof v === 'number') {
  //                 (this.setup.guiData.bodyData as any)[k] = v;
  //             }
  //         }
  //     }
  //     // this.setup.guiData.updateUniformsBody();
  //     // this.setup.guiData.updateBodyColors();
  //     this.setup.guiData.gui.updateDisplay();
  // }

  public onDragSliderStart(event: any): any {
    const range = PatientData.lung.max_value - PatientData.lung.min_value;
    const lung = (PatientData.lung.value - PatientData.lung.min_value) / range;
    if (event.key !== 'lung' && lung < 0.4) {
      this.playReaction();
    }
  }

  public onDataChanged(event: any) {
    // window.console.log('onDataChanged')
    (this.handlers as any)[event.key](event.value);
    (this.handlers as any).valueChanged(event.value);
    const dvalue = (this.handlers as any).dramaticValue;
  }


  public PrepareForAdvanced() {
    // this.setup.camera.position.set(100.40489641276483, 23.0705760754968, 773.512231505526);
    // const newPos = new THREE.Vector3(100.40489641276483, 23.0705760754968, 773.512231505526);
    const newPos = new THREE.Vector3(100.40489641276483, 20.0705760754968, 777.512231505526);
    this.moveAnimation(this.setup.camera, newPos, 0.6);
    this.handlers.enterIdle();
    // this.setup.camera.updateProjectionMatrix();
  }

  public initStartValues(animated: boolean) {
    this.handlers.initialize(animated);
  }

  public setHomeCameraPos(animated: boolean) {
    (this as any).init_cam_pos = this.setup.camera.position.clone();
    const newPos = new Vector3(82.456, 14.6, 648.1);

    if (animated) {
      this.moveAnimation(this.setup.camera, newPos, 0.6);
    } else {
      this.setup.camera.position.copy(newPos);
      this.setup.camera.updateProjectionMatrix();
    }
  }

  private nextReationTime = THREE.MathUtils.randInt(2, 5);

  public playReaction() {
    const c = this.setup.action4;
    const timeElapsed = this.setup.clock.getElapsedTime();
    const time = this.nextReationTime - timeElapsed;

    if (time <= 0) {
      if (c && !c.isRunning()) {
        this.nextReationTime = timeElapsed + THREE.MathUtils.randInt(5, 10);
        c.reset()
          .setLoop(THREE.LoopOnce, 1)
          // .crossFadeFrom(this.setup.action, 1.0, false)
          // .crossFadeTo(this.setup.action, 1.0, false)
          .fadeIn(c.getClip().duration)
          .fadeOut(c.getClip().duration)
          .play();
      }
    }
  }

  public moveAnimation(obj: Object3D, newPos: Vector3, time: number, callback?: () => {}) {
    const initPos = obj.position;
    const times = [0, time];
    const values = [
      initPos.x,
      initPos.y,
      initPos.z,
      newPos.x,
      newPos.y,
      newPos.z,
    ];

    const track = new THREE.VectorKeyframeTrack('.position', times, values,
      THREE.InterpolateSmooth);
    // THREE.InterpolateSmooth);
    (track as any).createInterpolant();
    const clip = new THREE.AnimationClip('moveAnim', time, [track]);
    const mixer = new THREE.AnimationMixer(obj);

    const action = mixer.clipAction(clip);
    action.setLoop(THREE.LoopOnce, 0);
    action.clampWhenFinished = true;
    action.play();
    this.mixers.push(mixer);
    // action.addListener("finished", (mixer) => {
    //     this.mixers.remove(mixer);
    // });
  }

  public moveCameraToMainPos() {
    const endPos = new THREE.Vector3(98.456, 14.6, 648.1);
    // const endPos = new THREE.Vector3(98.456, 14.6, 648.1);
    this.moveAnimation(this.setup.camera, endPos, 0.6);
    this.setup.camera.updateProjectionMatrix();
  }

  //  public save( blob, filename ) {
  //      let link = document.createElement( 'a' );
  //      link.style.display = 'none';
  //      document.body.appendChild( link ); // Firefox workaround, see #6594

  //      link.href = URL.createObjectURL( blob );
  //      link.download = filename;
  //      link.click();
  //      // URL.revokeObjectURL( url ); breaks Firefox...
  //  }

  //  public saveString( text: string, filename: string ) {
  //      this.save( new Blob( [ text ], { type: 'text/plain' } ), filename );
  //  }

  //  public exportObj() {
  //      const exporter = new GLTFExporter();
  //      exporter.parse( this.setup.scene, ( gltf ) => {
  //          console.log( gltf );
  //          this.saveString(JSON.stringify(gltf, "myscene.gltf"));
  //      }, {});
  //     // function tr(obj) {
  //     //     console.log(obj.Name);
  //     //     if (obj.children.length > 0) {
  //     //         obj.children.traverse(this.tr);
  //     //     }
  //     // }
  //     // tr(this.setup.scene);
  //  }


  private animate(time: number) {
    const dt = this.setup.clock.getDelta();
    this.time += dt;
    if (this.controls) {
      this.controls.update();
    }

    // this.box.material.uniforms.time.value = this.clock.getElapsedTime();
    if (this.setup.mixer) {
      this.setup.mixer.update(dt);
    }
    if (this.mixers) {
      this.mixers.forEach((m) => m.update(dt));
    }
    // if (this.matLine != undefined)
    //     this.matLine.resolution.set( window.innerWidth, window.innerHeight ); // resolution of the viewport

    if (this.time > this.interval) {
      this.renderFrame();

      if (this.system) {
        this.system.update(dt);
      }
      this.time = this.time % this.interval;
    }

    const tt = this.setup.clock.getElapsedTime();
    if (this.setup.bg && this.setup) {
      (this.setup.bg.material as ShaderMaterial).uniforms.time.value = tt;
    }
    this.setup.wireMat.uniforms.timeer.value = tt;
    this.setup.bodyMat.uniforms.timeer.value = tt;
    this.setup.innerPartsMtl.uniforms.time.value = tt;
    this.setup.headPartsMtl.uniforms.time.value = tt;
    this.setup.chestPartsMtl.uniforms.time.value = tt;
    this.setup.neckLeftPartsMtl.uniforms.time.value = tt;

    // console.log(TWEEN);
    (TWEEN as any).update(time, false);
    //console.log('this.isPlayScene', this.isPlayScene)
    // if(this.isPlayScene) requestAnimationFrame(this.animate);
    if(this.isPlayScene) requestAnimationFrame(this.animate);
  }

  private renderFrame() {
    // this.setup.camera.layers.enable(0);
    // this.setup.camera.layers.enable(1);
    this.setup.camera.layers.set(2);
    // this.setup.renderer.setClearColor('black', 255.0);
    this.setup.renderer.setRenderTarget(this.setup.target);
    // this.setup.renderer.clear();
    this.setup.renderer.render(this.setup.scene, this.setup.camera);
    this.setup.renderer.setRenderTarget(null);
    this.setup.camera.layers.set(0);
    // this.setup.camera.layers.enable(3);
    // this.setup.renderer.setClearColor('black', 255.0);

    this.setup.renderer.render(this.setup.scene, this.setup.camera);
  }

  private onClick() {
    // this.box.geometry = modifier.modify(this.box.geometry);
  }

  private onResize(event: Event | null) {
    // if (event != null && event.currentTarget != null) {
    const parent = this.$refs.canvasDiv as HTMLElement;
    const canvas = this.$refs.canvas as HTMLElement;
    // const width = parent.clientWidth;
    // const height = parent.clientHeight;

    if (this.controls)
      this.controls.handleResize();

    const aspect = 2732 / 2048;
    const width = window.innerWidth;
    const height = 1.0 / aspect * width;
    // const aspect = width/height;

    this.setup.renderer.setSize(width, height);
    this.setup.target.setSize(width, height);
    this.setup.renderer.setViewport(0, 0, width, height);

    this.setup.camera.aspect = aspect;
    this.setup.camera.updateProjectionMatrix();
    this.setup.innerPartsMtl.uniforms.resolution.value.set(width, height);
    this.setup.headPartsMtl.uniforms.resolution.value.set(width, height);
    this.setup.neckLeftPartsMtl.uniforms.resolution.value.set(width, height);
    //this.setup.neckRightPartsMtl.uniforms.resolution.value.set(width, height);
    this.setup.chestPartsMtl.uniforms.resolution.value.set(width, height);
    this.setup.vertexPartsMtl.uniforms.resolution.value.set(width, height);

    // const size = new THREE.Vector3(200/width, 80/height, -1);
    // const right = (new THREE.Vector3(1.0, 1.0, -1)).unproject(this.setup.camera);
    // const left = (new THREE.Vector3(-1.0, -1.0, -1)).unproject(this.setup.camera);
    // const size = right.sub(left);
    // console.log(size);
    // this.mesh2.scale.x = 10;
    // this.mesh2.scale.y = 10;
    // this.mesh2.scale.x = size.x;
    // this.mesh2.scale.y = size.y;

    // }
  }

  private create_shaded_material(): THREE.Material {
    // /*

    const frag = require('./shaders/meshbasic_frag.glsl').default;
    const vert = require('./shaders/meshbasic_vert.glsl').default;
    // console.log("loading shaders: " + frag + " and " + vert);

    // create the options object to send to ShaderMaterial.
    const mat = new THREE.ShaderMaterial({
      defines: {
        USE_MAP: true,
        USE_UV: true,
      },
      vertexShader: vert,
      fragmentShader: frag,
      depthWrite: true,
      depthFunc: THREE.AlwaysDepth,
      uniforms: this.bodyUniforms,
      transparent: true,
      skinning: true,
      blending: THREE.AdditiveBlending,
    });
    mat.name = 'Patient (shaded) material';

    const loader = new THREE.TextureLoader();
    mat.uniforms.map.value = loader.load(require('!!url-loader!@/assets/images/diffuseSurface_Color.png'));
    // , (i) => {
    // */

    /*
    // Basic material with light.
    let mat = new THREE.MeshBasicMaterial({
        map: THREE.ImageUtils.loadTexture(require('./assets/images/diffuseSurface_Color.png')),
        // skinning: true,
        // morphTargets: true,
    });
    // */
    return mat;
  }

  private create_lines_material(): THREE.Material {
    const shaderParameters = {
      extensions: {
        // needed for anti-alias smoothstep, aastep()
        derivatives: true,
      },
      transparent: true,
      side: THREE.DoubleSide,
      uniforms: { // some parameters for the shader
        time: {value: 0},
        noseVisibility: {value: 0},
        fill: {value: new THREE.Color(0x0)},
        stroke: {value: new THREE.Color(0x15fff8)},
        noiseA: {value: false},
        noiseB: {value: false},
        dualStroke: {value: false},
        seeThrough: {value: true},
        insideAltColor: {value: true},
        thickness: {value: 0.025},
        secondThickness: {value: 0.05},
        dashEnabled: {value: true},
        dashRepeats: {value: 1.0},
        dashOverlap: {value: true},
        dashLength: {value: 0.0},
        dashAnimate: {value: false},
        squeeze: {value: false},
        squeezeMin: {value: 0.1},
        squeezeMax: {value: 1.0},
        dotSize: {value: 0.12},
        huee: {value: 0.0},
        timeer: {value: 0.0},
        wireTiming: {value: null},
      },
      // use glslify here to bring in the GLSL code
      fragmentShader: require('!!raw-loader!./lib/wire.frag').default,
      vertexShader: require('!!raw-loader!./lib/wire.vert').default,
      skinning: true,
    };

    // Create our custom wireframe shader material
    const mat = new THREE.ShaderMaterial(shaderParameters);
    mat.name = 'Patient (shaded) material';
    mat.uniforms.wireTiming.value = THREE.ImageUtils.loadTexture(require("!!url-loader!@/assets/images/T_RevealWires.png"))
    return mat;
  }

  addLights() {
    const ambientLight = new THREE.AmbientLight(0x101010);
    this.setup.scene.add(ambientLight);
    const pointLight = new THREE.PointLight(0xffffff, 1.5, 1000, 1);
    pointLight.position.set(0, 200, 200);
    this.setup.scene.add(pointLight);
  }

  // private onParticleDead(part: any) {
  //         const lastId = this.renderer.lastId - 1;
  //         const ps = this.emitter.particles;
  //         let last;

  //         for (let i = ps.length-1; i >= 0; i++)
  //         {
  //             if (ps[i].target.id == lastId)
  //             {
  //                 last = ps[i];
  //                 break;
  //             }
  //         }
  //         if (!last) return;

  //         if (last == part) {

  //         } else {
  //             last.target.id = part.target.id;
  //         }
  //         this.renderer.lastId -= 1;
  // }

  private loadTexture(path: string): Promise<Texture> {
    return new Promise((resolve) => {
      THREE.ImageUtils.loadTexture(path, undefined, resolve);
    });
  }

  private async createBgPlane(texture: string, width = 200, aspect = 1.3) {
    // const width = 200;
    const height = width / aspect;
    const map = await this.loadTexture(texture);

    const plane = new THREE.Mesh(
      new THREE.PlaneGeometry(width, height, 32),
      new THREE.MeshBasicMaterial({
        color: 0xffffff, side: THREE.DoubleSide,
        opacity: 0.6,
        // depthFunc: THREE.AlwaysDepth,
        transparent: true,
        map: map // : THREE.ImageUtils.loadTexture(texture),
      })
    );
    // this.setup.scene.add( plane );
    return plane;
  }

  private create_emitter(system: any, mesh: THREE.Object3D, mesh_pos: THREE.Mesh) {

    const emitter = new Nebula.Emitter();
    emitter.bindEmitterEvent = true;

    const PARTICLE_DEAD = 'PARTICLE_DEAD';

    //add Initialize
    // emitter.addInitializer( new Nebula.Radius(1, 12) );
    // emitter.addInitializer( new Nebula.VectorVelocity(new Nebula.Vector3D(0, 1, 0), 10));
    // emitter.addInitializer( new Nebula.RadialVelocity(new Nebula.Vector3D(0, 1, 0), 180));

    emitter.addInitializer(new Nebula.Life(55));
    emitter.addInitializer(new Nebula.Body(mesh));
    emitter.addInitializer(new Nebula.Position(new Nebula.MeshZone(mesh_pos)));
    // emitter.addInitializer( new Nebula.Position(new Nebula.ScreenZone(this.setup.camera, this.setup.renderer)));
    emitter.addInitializer(new Nebula.Radius(1.3, 2.5));
    emitter.addBehaviour(new Nebula.Scale(0.0, 1.0));

    // emitter.addInitializer( new Nebula.Rotation(new Nebula.MeshZone(mesh2)));

    // add Behaviour
    // emitter.addBehaviour(new Nebula.Color('ff0000', 'ffffff', 5));
    // emitter.addBehaviour(new Nebula.Alpha(1, 1));
    const rand = THREE.MathUtils.randFloat;
    // emitter.addBehaviour(new Nebula.RandomDrift(drift, drift, drift));
    const xdrift = rand(0.01, 0.03) / 10;
    const ydrift = rand(0.01, 0.03) / 10;

    // emitter.addBehaviour(new Nebula.RandomDrift(rand(0.01, 0.1), 0.0, rand(0.01, 0.1)));
    emitter.addBehaviour(new Nebula.RandomDrift(xdrift, ydrift, 0));
    // emitter.addBehaviour(new Nebula.Scale(scale, scale));
    emitter.addBehaviour(new Nebula.Rotate(rand(0.1, 0.3), rand(0.1, 0.3), 0)); // rand(0.01, 0.15)));
    emitter.position.set(0, 10, -20);
    system.addEmitter(emitter);
    return emitter;
  }

  private async init_particles(scene: THREE.Scene) {
    this.system = new Nebula.System();

    // const geom = new THREE.BoxBufferGeometry(10, 10, 10, 10, 10, 10);
    // const points = new THREE.Points(geom);

    // this.setup.scene.add(points);
    // geom.vertices.push(new THREE.Vector3(0, 0, 0));
    // geom.verticesNeedUpdate = true;
    // add canvas renderer
    const renderer = new Nebula.SpriteRenderer(scene, THREE);
    // const renderer = new Nebula.PointsRenderer(points);
    this.system.addRenderer(renderer);
    this.renderer = renderer;

    // this.points = points;
    // emitter.eventDispatcher.addEventListener("PARTICLE_CREATED", this.onParticleDead);
    // emitter.eventDispatcher.addEventListener(PARTICLE_DEAD, this.onParticleDead);
    // const box = new Mesh(new THREE.BoxGeometry(10, 10, 10));
    // this.setup.scene.add(box);

    //use Euler integration calculation is more accurate (default false)
    //Nebula.USE_CLOCK = true;
    return undefined;
  }

  private createSprite() {
    const geom = new THREE.PlaneGeometry(1, 1);
    const mesh = new THREE.Mesh(geom, new THREE.MeshBasicMaterial({
      map: THREE.ImageUtils.loadTexture(require("!!url-loader!../assets/images/triangle.png")),
      color: new Color('#00ff00'),
      opacity: 0.8,
      transparent: true,
      side: THREE.DoubleSide,
      blending: THREE.AdditiveBlending,
      depthWrite: false,
      // depthTest: true,
      // depthFunc: THREE.LessEqualDepth,
      // depthTest: THREE.GreaterDepth,
    }));
    mesh.scale.set(1, 1, 1);

    const obj = new THREE.Group();
    const bubble = new THREE.Sprite(
      new THREE.SpriteMaterial({
        color: new Color('green'),
        map: THREE.ImageUtils.loadTexture(require("../assets/images/dot.png")),
        opacity: 0.1,
        blending: THREE.AdditiveBlending,
        transparent: true,
        depthWrite: false,
        // depthTest: true,
        // depthFunc: THREE.LessEqualDepth,
        // depthTest: false,
      })
    );
    const size = 8;
    bubble.scale.set(size, size, size);
    bubble.material.color = new Color('green');
    obj.add(bubble);
    obj.add(mesh);
    return obj;
    // return s;
  }

  private bubbleGeom!: THREE.Geometry;
  private bubbleMtl!: THREE.MeshBasicMaterial;

  private createBubbleSprite() {
    if (!this.bubbleGeom) {
      this.bubbleGeom = new THREE.PlaneGeometry(1, 1);
    }
    if (!this.bubbleMtl) {
      this.bubbleMtl = new THREE.MeshBasicMaterial({
        map: THREE.ImageUtils.loadTexture(require("../assets/images/dot.png")),
        // color: new Color('green'),
        transparent: true,
        opacity: 0.05,
        // side: THREE.DoubleSide,
        blending: THREE.AdditiveBlending,
        depthWrite: false,
        // depthTest: THREE.GreaterDepth,
      });
    }

    const mesh = new THREE.Mesh(this.bubbleGeom, this.bubbleMtl);
    mesh.scale.set(1, 1, 1);
    return mesh;
  }

  private setupOuterDots(dots: SkinnedMesh) {
    const res = new THREE.Vector2(0, 0);
    this.setup.renderer.getSize(res);

    const shaderParameters = {
      extensions: {
        derivatives: true,
      },
      uniforms: THREE.UniformsUtils.merge([
        THREE.ShaderLib.points.uniforms, {
          time: {value: 0.0},
          map: {value: null},
          tDepth: {value: this.setup.target.depthTexture},
          tColor: {value: this.setup.target.texture},
          diffuse: {value: new THREE.Color('#00ffd1')},
          huee: {value: 0.1},
          multiplier: {value: 0.1},
          size: {value: 20.1},
          scale: {value: 650.0},
          freq: {value: 0.5},
          amplitude: {value: 0.4},
          resolution: {value: res},
          cameraNear: {value: this.setup.camera.near},
          cameraFar: {value: this.setup.camera.far},
          zthreshold: {value: 4.3},
          coef: {value: 1.0},
          ocs_disable: {value: 1.0},
        },
      ]),
      defines: {
        USE_MAP: true,
        USE_SIZEATTENUATION: true,
      },
      vertexShader: THREE.ShaderLib.points.vertexShader,
      fragmentShader: THREE.ShaderLib.points.fragmentShader,
      blending: THREE.AdditiveBlending,
      depthWrite: false,
      depthTest: false,
      transparent: true,
      skinning: true,
    };

    const points = new THREE.Points(dots.geometry, new THREE.ShaderMaterial(shaderParameters));
    (points.material as ShaderMaterial).uniforms.tDepth.value = this.setup.target.depthTexture;
    (points.material as ShaderMaterial).uniforms.tColor.value = this.setup.target.texture;
    // (points.material as ShaderMaterial).uniforms.map.value =
    // THREE.ImageUtils.loadTexture(require("!!url-loader!../assets/images/particle_na_glow.png"))
    // THREE.ImageUtils.loadTexture(require("!!url-loader!../assets/images/particle_na.png"))
    // THREE.ImageUtils.loadTexture(require("!!url-loader!../assets/images/dot.png"))

    this.setup.vertexPartsMtl = points.material as THREE.ShaderMaterial;
    // (points as any).position.set(0, yPos, 0);
    (points as any).isSkinnedMesh = true;
    (points as any).skeleton = dots.skeleton;
    (points as any).skinning = true;
    (points as any).bindMatrix = dots.bindMatrix;
    (points as any).bindMatrixInverse = dots.bindMatrixInverse;
    return points;
  }

  private setupInnerDots(dots: SkinnedMesh) {
    dots.visible = false;
    const res = new THREE.Vector2(0, 0);
    this.setup.renderer.getSize(res);

    const innerPoints = new THREE.Points(dots.geometry, new THREE.ShaderMaterial({
      uniforms: THREE.UniformsUtils.merge([
        THREE.ShaderLib.points.uniforms, {
          time: {value: 0.0},
          map: {value: null},
          tColor: {value: this.setup.target.texture},
          tDepth: {value: this.setup.target.depthTexture},
          diffuse: {value: new THREE.Color('#007d58')},
          multiplier: {value: 0.1},
          size: {value: 10.0},
          freq: {value: 0.5},
          amplitude: {value: 0.8},
          resolution: {value: res},
          cameraNear: {value: this.setup.camera.near},
          cameraFar: {value: this.setup.camera.far},
          zthreshold: {value: 4.3},
          coef: {value: 1.0},
        },
      ]),
      defines: {
        USE_MAP: true,
        ANIMATED: true,
      },
      vertexShader: THREE.ShaderLib.points.vertexShader,
      fragmentShader: THREE.ShaderLib.points.fragmentShader,
      //blending: THREE.AdditiveBlending,
      depthWrite: false,
      depthTest: false,
      // depthFunc: THREE.AlwaysDepth,
      transparent: true,
      skinning: true,
    }));

    const bg = dots.geometry as BufferGeometry;
    const pos = bg.attributes.position;
    const weight = bg.attributes.skinWeight;
    const skin_index = bg.attributes.skinIndex;
    const oldNormals = bg.attributes.normal;
    const old_uv = bg.attributes.uv;

    const newPos = [];
    const newWeight = [];
    const newNormals = [];
    const skinIndex = [];
    const uv = [];

    // const step = 32;
    // const step = 54;
    const step = 35;
    // const step = 1;
    for (let j = 0; j < pos.count; j += step) {
      const idx = j * pos.itemSize;
      newPos.push(pos.array[idx]);
      newPos.push(pos.array[idx + 1]);
      newPos.push(pos.array[idx + 2]);
    }

    // for (let j = 0; j < oldNormals.count; j+=step) {
    //     const idx = j * oldNormals.itemSize;
    //     newNormals.push(oldNormals.array[idx]);
    //     newNormals.push(oldNormals.array[idx+1]);
    //     newNormals.push(oldNormals.array[idx+2]);
    //     newNormals.push(oldNormals.array[idx+3]);
    // }

    // for (let j = 0; j < weight.count; j+=step) {
    //     const idx = j * weight.itemSize;
    //     newWeight.push(weight.array[idx]);
    //     newWeight.push(weight.array[idx+1]);
    //     newWeight.push(weight.array[idx+2]);
    //     newWeight.push(weight.array[idx+3]);
    // }

    // for (let j = 0; j < skinIndex.count; j+=step) {
    //     const idx = j * skinIndex.itemSize;
    //     skinIndex.push(skin_index.array[idx]);
    //     skinIndex.push(skin_index.array[idx+1]);
    //     skinIndex.push(skin_index.array[idx+2]);
    //     skinIndex.push(skin_index.array[idx+3]);
    // }

    // for (let j = 0; j < old_uv.count; j+=step) {
    //     const idx = j * old_uv.itemSize;
    //     uv.push(old_uv.array[idx]);
    //     uv.push(old_uv.array[idx+1]);
    // }

    function* randomPhases(positions: THREE.Float32BufferAttribute) {
      const count = positions.count;
      for (let i = 0; i < count; i++) {
        yield THREE.MathUtils.randFloat(0.0, 1.0);
      }
    }

    bg.addAttribute('position', new THREE.Float32BufferAttribute(newPos, 3));
    // bg.addAttribute('normal', new THREE.Float32BufferAttribute(newNormals, 3));
    // bg.addAttribute('skinIndex', new THREE.Uint16BufferAttribute(new Uint16Array(skinIndex), 4));
    // bg.addAttribute('skinWeight', new THREE.Float32BufferAttribute(newWeight, 4));
    // bg.addAttribute('uv', new THREE.Float32BufferAttribute(uv, 2));

    const phases = Array.from(randomPhases(bg.attributes.position as THREE.Float32BufferAttribute));
    const phasesAttributes = new THREE.Float32BufferAttribute(phases, 1);
    (innerPoints.geometry as BufferGeometry).addAttribute('P1', phasesAttributes);
    (innerPoints.material as ShaderMaterial).uniforms.map.value =
      // THREE.ImageUtils.loadTexture(require('!!url-loader!../assets/images/dot.png'));
      THREE.ImageUtils.loadTexture(require('!!url-loader!../assets/images/particle_3.png'));
    (innerPoints as any).isSkinnedMesh = true;
    (innerPoints as any).skeleton = dots.skeleton;
    (innerPoints as any).bindMatrix = dots.bindMatrix;
    (innerPoints as any).bindMatrixInverse = dots.bindMatrixInverse;
    (innerPoints.material as ShaderMaterial).uniforms.tColor.value = this.setup.target.texture;
    (innerPoints.material as ShaderMaterial).uniforms.tDepth.value = this.setup.target.depthTexture;

    return innerPoints;
  }


  private setupDots(dots: SkinnedMesh,  ignore: boolean = true, external: boolean = false, color: string = '#0dc14a') {
    dots.visible = false;

    const res = new THREE.Vector2(0, 0);
    this.setup.renderer.getSize(res);

    const innerPoints = new THREE.Points(dots.geometry, new THREE.ShaderMaterial({
      uniforms: THREE.UniformsUtils.merge([
        THREE.ShaderLib.points.uniforms, {
          time: {value: 0.0},
          map: {value: null},
          tColor: {value: this.setup.target.texture},
          tDepth: {value: this.setup.target.depthTexture},
          diffuse: {value: new THREE.Color(color)},
          multiplier: {value: 0.1},
          size: {value: 10.0},
          freq: {value: 0.5},
          amplitude: {value: 0.8},
          resolution: {value: res},
          cameraNear: {value: this.setup.camera.near},
          cameraFar: {value: this.setup.camera.far},
          zthreshold: {value: 4.3},
          coef: {value: 1.0},
        },
      ]),
      defines: {
        USE_MAP: true,
        ANIMATED: true,
        EXTERNAL: external,
        IGNORECOLORMAP: ignore,
      },
      vertexShader: THREE.ShaderLib.points.vertexShader,
      fragmentShader: THREE.ShaderLib.points.fragmentShader,
      blending: THREE.AdditiveBlending,
      depthWrite: false,
      depthTest: false,
      // depthFunc: THREE.AlwaysDepth,
      transparent: true,
      skinning: true,
    }));

    const bg = dots.geometry as BufferGeometry;
    const pos = bg.attributes.position;
    const weight = bg.attributes.skinWeight;
    const skin_index = bg.attributes.skinIndex;
    const oldNormals = bg.attributes.normal;
    const old_uv = bg.attributes.uv;

    const newPos = [];
    const newWeight = [];
    const newNormals = [];
    const skinIndex = [];
    const uv = [];

    // const step = 32;
    // const step = 54;
    const step = 1;
    // const step = 1;
    for (let j = 0; j < pos.count; j += step) {
      const idx = j * pos.itemSize;
      newPos.push(pos.array[idx]);
      newPos.push(pos.array[idx + 1]);
      newPos.push(pos.array[idx + 2]);
    }

    function* randomPhases(positions: THREE.Float32BufferAttribute) {
      const count = positions.count;
      for (let i = 0; i < count; i++) {
        yield THREE.MathUtils.randFloat(0.0, 1.0);
      }
    }

    bg.addAttribute('position', new THREE.Float32BufferAttribute(newPos, 3));

    const phases = Array.from(randomPhases(bg.attributes.position as THREE.Float32BufferAttribute));
    const phasesAttributes = new THREE.Float32BufferAttribute(phases, 1);
    (innerPoints.geometry as BufferGeometry).addAttribute('P1', phasesAttributes);
    (innerPoints.material as ShaderMaterial).uniforms.map.value =

      THREE.ImageUtils.loadTexture(require('!!url-loader!../assets/images/particle_3.png'));
    (innerPoints as any).isSkinnedMesh = true;
    (innerPoints as any).skeleton = dots.skeleton;
    (innerPoints as any).bindMatrix = dots.bindMatrix;
    (innerPoints as any).bindMatrixInverse = dots.bindMatrixInverse;
    (innerPoints.material as ShaderMaterial).uniforms.tColor.value = this.setup.target.texture;
    (innerPoints.material as ShaderMaterial).uniforms.tDepth.value = this.setup.target.depthTexture;

    return innerPoints;
  }

  private create_cam_animation() {
    // const pos = this.setup.cameraPositions = [
    //     new THREE.Vector3(this.setup.camera.position),
    //     new THREE.Vector3(this.setup.camera.position + new THREE.Vector3(1, 0, 0)),
    //     new THREE.Vector3(this.setup.camera.position + new THREE.Vector3(0.5, 1, 0)),
    // ];

    // let positionKF = new THREE.VectorKeyframeTrack( '.position');
    // [ 0, 1, 2 ], [ 0, 0, 0, 30, 0, 0, 0, 0, 0 ] );
  }

  private async setup_scene(scene: THREE.Scene, fbx: THREE.Group) {
    const farBg = await this.loadBackground();
    this.setup.bgMat = farBg.material as THREE.ShaderMaterial;
    this.setup.scene.add(farBg);

    // (this.$parent as PatientMain).handleError(JSON.stringify(fbx));

    const bg = await this.createBgPlane(require('!!url-loader!../assets/images/T_BGTexture.png'));
    bg.name = 'BG Plane Texture';
    bg.position.z = -28;
    bg.renderOrder = 0;
    this.setup.scene.add(bg);
    this.setup.bgImage = bg;

    const bgDirty = await this.createBgPlane(require('!!url-loader!../assets/images/T_dust.png'));
    (bgDirty.material as MeshBasicMaterial).opacity = 1.0;
    // (bgDirty.material as MeshBasicMaterial).transparent = true;
    bgDirty.name = 'Dirty Plane';
    bgDirty.renderOrder = 1;
    bgDirty.position.z = -26;
    this.setup.scene.add(bgDirty);

    // const depthQuad = this.createBgPlane(require('!!url-loader!../assets/images/T_dust.png'));
    // depthQuad.material = new ShaderMaterial({
    //     vertexShader: require('!!raw-loader!../shaders/depth_vert.glsl').default,
    //     fragmentShader: require('!!raw-loader!../shaders/depth_frag.glsl').default,
    //     uniforms: {
    //         cameraNear: { value: this.setup.camera.near },
    //         cameraFar: { value: this.setup.camera.far },
    //         tDiffuse: { value: this.setup.target.texture },
    //         tDepth: { value: this.setup.target.depthTexture }
    //     }
    // });
    // depthQuad.name = 'Depth Plane';
    // depthQuad.layers.set(3);
    // this.setup.scene.add(depthQuad);

    let body: SkinnedMesh | null = null;
    let dots: SkinnedMesh | null = null;
    let headMask: SkinnedMesh | null = null;
    let neckLeft: SkinnedMesh | null = null;
    let neckRight: SkinnedMesh | null = null;
    let chestMask: SkinnedMesh | null = null;

    body = fbx.getObjectByName('Mesh') as SkinnedMesh;
    dots = fbx.getObjectByName('Dots') as SkinnedMesh;
    headMask = fbx.getObjectByName('HeadMask') as SkinnedMesh;
    neckLeft = fbx.getObjectByName('NeckL') as SkinnedMesh;
    neckRight = fbx.getObjectByName('NeckR') as SkinnedMesh;
    chestMask = fbx.getObjectByName('ChestMask') as SkinnedMesh;

    const innerPoints = this.setupInnerDots(dots);
    const headPoints = this.setupDots(headMask, true, true);
    const neckLeftPoints = this.setupDots(neckLeft);
    //const neckRightPoints = this.setupDots(neckRight);
    const chestPoints = this.setupDots(chestMask);
    neckRight.visible = false;
    fbx.add(innerPoints);
    fbx.add(headPoints);
    fbx.add(neckLeftPoints);
    //fbx.add(neckRightPoints);
    fbx.add(chestPoints);

    this.setup.innerPartsMtl = innerPoints.material as ShaderMaterial;
    this.setup.headPartsMtl = headPoints.material as ShaderMaterial;
    this.setup.neckLeftPartsMtl = neckLeftPoints.material as ShaderMaterial;
    //this.setup.neckRightPartsMtl = neckRightPoints.material as ShaderMaterial;
    this.setup.chestPartsMtl = chestPoints.material as ShaderMaterial;
    /*headPoints.material = new THREE.PointsMaterial({
      size: 100,
      skinning: true,
    });*/

    if (CREATE_PARTICLES) {
      this.init_particles(scene);

      // const geomSpawner = new THREE.PlaneGeometry(10, 10, 10, 10);
      const geom = new THREE.PlaneGeometry(10, 10, 100, 100);
      geom.scale(7, 6, 1);
      const mesh2 = new Mesh(geom);

      (mesh2.material as any).writeDepth = false;
      (mesh2.material as any).opacity = 0.0;
      // (mesh2.material as any).transparent = true;
      mesh2.position.set(0.252106364730537, 34.058107273679322, -12);

      const rand = THREE.MathUtils.randFloat;
      const drift = 0.01;
      const scale = 0.4;

      const e1 = this.create_emitter(this.system, this.createSprite(), mesh2);
      const e2 = new Nebula.Emitter()
        .addInitializer(new Nebula.Life(55))
        .addInitializer(new Nebula.Body(this.createBubbleSprite()))
        .addInitializer(new Nebula.Position(new Nebula.MeshZone(mesh2)))
        // .addInitializer( new Nebula.Position(new Nebula.ScreenZone(this.setup.camera, this.setup.renderer)))
        .addInitializer(new Nebula.Radius(0.5, 2.0))
        .addBehaviour(new Nebula.RandomDrift(rand(0.01, 0.1), rand(0.01, 0.1), 0))
        .addBehaviour(new Nebula.Scale(0.0, 1.0, 5.0));

      e1.position.set(0, 10, -20);
      e2.position.set(0, 10, -20);
      // e1.position.copy(mesh2.position);
      // e2.position.copy(mesh2.position);
      // this.control.attach(e1);

      this.system.addEmitter(e1);
      this.system.addEmitter(e2);

      // const e2 = this.create_emitter(this.system, );
      e1.setRate(new Nebula.Rate(1, 2));
      e2.setRate(new Nebula.Rate(1, 2));
      e1.emit();
      e2.emit();
    }

    // innerPoints.position.set(0, -220, 0);
    if (body) {
      scene.add(fbx);
      let bones = null;
      for (const k in fbx.children) {
        if (fbx.children[k].type === "Group") {
          bones = fbx.children[k];
        }
      }

      body.layers.enable(2);

      const clip0 = (fbx as any).animations[0];
      const clip0duration = clip0.duration;

      const clip1 = (fbx as any).animations[1];
      const clip1duration = clip1.duration;

      const clip2 = (fbx as any).animations[2];
      const clip2duration = clip2.duration;

      const clip3 = (fbx as any).animations[3];
      clip0.optimize();
      clip1.optimize();
      clip2.optimize();
      clip3.optimize();

      clip1.tracks.forEach((t: any) => {
        t.shift(-clip0duration);
      });

      clip2.tracks.forEach((t: any) => {
        t.shift(-clip1duration - 0.2);
      });

      clip3.tracks.forEach((t: any) => {
        t.shift(-clip2duration);
      });

      clip0.resetDuration();
      clip1.resetDuration();
      clip2.resetDuration();
      clip3.resetDuration();

      this.setup.mixer = new THREE.AnimationMixer(bones as Object3D);
      this.setup.action = this.setup.mixer.clipAction(clip0);
      this.setup.action2 = this.setup.mixer.clipAction(clip1);
      // this.setup.action2 = this.setup.mixer.clipAction((fbx as any).animations[1]);
      this.setup.action3 = this.setup.mixer.clipAction(clip2);
      this.setup.action4 = this.setup.mixer.clipAction(clip3);
      this.setup.action.play();
      this.setup.action2.play();
      this.setup.action3.play();
      // this.setup.action4.paused = true;
      this.setup.mixer.addEventListener('finished', (e) => {
        // if (e.action == this.setup.action4) {
        //     this.setup.action4.paused = true;
        // this.setup.action4.crossFadeTo(this.setup.action, 1.0, false)
        // this.setup.action4.play();
        // }
      });

      this.setup.action2.setEffectiveWeight(0.0);
      this.setup.action3.setEffectiveWeight(0.0);
      // this.setup.action4.setEffectiveWeight(0.0);

      body.renderOrder = 4;
      fbx.renderOrder = 4;
      body.visible = true;

      addBarycentricCoordinates(body.geometry, false);
      addRandomizedAttribute(body.geometry);

      const buf = body.geometry as BufferGeometry;
      buf.clearGroups();
      buf.addGroup(0, Infinity, 0);
      buf.addGroup(0, Infinity, 1);
      buf.addGroup(0, Infinity, 2);

      this.setup.bodyMat = this.create_shaded_material() as ShaderMaterial;
      this.setup.wireMat = this.create_lines_material() as ShaderMaterial;

      body.material = [
        this.setup.bodyMat,
        this.setup.bodyMat,
        this.setup.wireMat,
      ];

      // const gltfScene = await this.loadModel(require('!!url-loader!../assets/models/body.gltf'), true) as GLTF;
      // if (gltfScene) {
      //     const outerDots = gltfScene.scene.getObjectByName('Mesh') as SkinnedMesh;
      //     fbx.add( this.setupOuterDots(outerDots) );
      // }
      const yPos = -220;
      fbx.position.set(5, yPos, 0);
      fbx.add(this.setupOuterDots(body));
    }

    this.setup.body = body as Mesh;
    this.addLights();


    /* Comment this line to enable next block.
    const sphereGroup = await this.load_sphere_model();
    // Prepare sphere geometry
    const sphereParent = new THREE.Object3D();
    sphereParent.name = 'ShpereParent';
    sphereParent.scale.set(0.1, 0.1, 0.1);
    sphereParent.add(sphereGroup);
    scene.add(sphereParent);

    const sphere = sphereGroup.getObjectByName('Sphere') as Mesh;
    const bones = sphereGroup.getObjectByName('Armature');
    if (bones) {
        bones.scale.set(0.1, 0.1, 0.1);
    }
    this.setup.sphere = sphere;
    this.setup.mixer = new THREE.AnimationMixer(bones);
    this.setup.firstAnim = this.setup.mixer.clipAction((sphereGroup as any).animations[0]);
    this.setup.secondAnim = this.setup.mixer.clipAction((sphereGroup as any).animations[1]);
    this.setup.firstAnim.play();
    this.setup.secondAnim.setEffectiveWeight(0.0);
    this.setup.secondAnim.play();
    // */
  }

  // private async load_vertex_model() {
  //     const cloud = await this.loadModel(require('../assets/models/vertex_patient.fbx')) as Object3D;
  //     //this.setup.scene.add(cloud);
  //     return cloud;
  // }

  // private async load_sphere_model() {
  //     const sphere = await this.loadModel(require('../assets/models/model.fbx')) as Object3D;
  //     this.setup.scene.add(sphere);
  //     return sphere;
  // }

  private setupGUIAdvanced() {
    const dg = document.getElementsByClassName('dg main a');
    if (dg.length) {
      dg[0].remove();
    }
    const gui = new GUI.GUI({load: require('./lib/gui.json'), preset: 'Patient'});
    // This function handles all the GUI sliders and updates
    const shader = gui.addFolder('Wire Shader');
    const material = this.setup.wireMat;
    const bodyMat = this.setup.bodyMat;

    const guiData = (window as any)['guiData'] || ((window as any)['guiData'] = {
      name: 'TorusKnot',
      seeThrough: true,
      edgeRemoval: false,
      backgroundHex: 0x0,
      fillHex: `#${material.uniforms.fill.value.getHexString()}`,
      strokeHex: `#${material.uniforms.stroke.value.getHexString()}`,
      cameraAspect: 1.7,
    });

    // add all the uniforms into our gui data
    // if (!guiData.bodyData) {
    // if (true) {

    const bodyData = guiData.bodyData = {};
    for (const k in bodyMat.uniforms) {
      if (bodyMat.uniforms[k]) {
        const v = bodyMat.uniforms[k].value;
        if (v instanceof Color) {
          (bodyData as any)[k] = `#${v.getHexString()}`;
        }
        if (typeof v === 'boolean' || typeof v === 'number') {
          (bodyData as any)[k] = v;
        }
      }
    }

    // }

    Object.keys(material.uniforms).forEach((key) => {
      const uniform = material.uniforms[key];
      if (typeof uniform.value === 'boolean' || typeof uniform.value === 'number') {
        (guiData as any)[key] = uniform.value;
      }
    });

    const updateColors = () => {
      this.canvas.style.background = guiData.backgroundHex.toString();
      this.setup.renderer.setClearColor(guiData.backgroundHex, 1.0);
      material.uniforms.fill.value.setStyle(guiData.fillHex);
      material.uniforms.stroke.value.setStyle(guiData.strokeHex);
    };

    const updateBodyColors = () => {
      bodyMat.uniforms.fresnelColor.value.setStyle((bodyData as any)['fresnelColor']);
      bodyMat.uniforms.baseColor.value.setStyle((bodyData as any)['baseColor']);
      bodyMat.uniforms.tintColor.value.setStyle((bodyData as any)['tintColor']);
      bodyMat.uniforms.orangeColor.value.setStyle((bodyData as any)['orangeColor']);
    };

    const updateUniforms = () => {
      Object.keys(guiData).forEach((key) => {
        if (key === 'timeer')
          return;
        if (key in material.uniforms) {
          material.uniforms[key].value = (guiData as any)[key];
        }
      });
    };

    const updateUniformsBody = () => {
      Object.keys(bodyData).forEach((key) => {
        if (key === 'timeer')
          return;
        if (key in bodyMat.uniforms) {
          const v = bodyMat.uniforms[key].value;
          if (typeof v === 'boolean' || typeof v === 'number') {
            bodyMat.uniforms[key].value = (bodyData as any)[key];
          }
        }
      });
    };

    this.setup.guiData = {
      gui,
      bodyData,
      updateUniformsBody,
      updateBodyColors,
    };

    shader.add(guiData, 'seeThrough').name('See Through').onChange(updateUniforms);
    shader.add(guiData, 'thickness', 0.005, 0.2).step(0.001).name('Thickness').onChange(updateUniforms);
    shader.add(guiData, 'dotSize', 0.0, 1.0).step(0.001).name('Dot size').onChange(updateUniforms);
    shader.add(guiData, 'huee', 0.0, 2 * 3.14).step(0.001).name('huee').onChange(updateUniforms);
    shader.addColor(guiData, 'backgroundHex').name('Background').onChange(updateColors);
    shader.addColor(guiData, 'fillHex').name('Fill').onChange(updateColors);
    shader.addColor(guiData, 'strokeHex').name('Stroke').onChange(updateColors);

    const dash = shader.addFolder('Dash');
    dash.add(guiData, 'dashEnabled').name('Enabled').onChange(updateUniforms);
    dash.add(guiData, 'dashAnimate').name('Animate').onChange(updateUniforms);
    dash.add(guiData, 'dashRepeats', 1, 10).step(1).name('Repeats').onChange(updateUniforms);
    dash.add(guiData, 'dashLength', 0, 1).step(0.001).name('Length').onChange(updateUniforms);
    dash.add(guiData, 'dashOverlap').name('Overlap Join').onChange(updateUniforms);

    const effects = shader.addFolder('Effects');
    effects.add(guiData, 'noiseA').name('Noise Big').onChange(updateUniforms);
    effects.add(guiData, 'noiseB').name('Noise Small').onChange(updateUniforms);
    effects.add(guiData, 'insideAltColor').name('Backface Color').onChange(updateUniforms);
    effects.add(guiData, 'squeeze').name('Squeeze').onChange(updateUniforms);
    effects.add(guiData, 'squeezeMin', 0, 1).step(0.01).name('Squeeze Min').onChange(updateUniforms);
    effects.add(guiData, 'squeezeMax', 0, 1).step(0.01).name('Squeeze Max').onChange(updateUniforms);
    effects.add(guiData, 'dualStroke').name('Dual Stroke').onChange(updateUniforms);
    effects.add(guiData, 'secondThickness', 0, 0.2).step(0.001).name('Dual Thick').onChange(updateUniforms);

    const camera = gui.addFolder('Camera');
    camera.add(guiData, 'cameraAspect').name('Aspect').step(0.01).onChange(() => {
      const res = new THREE.Vector2();
      this.setup.renderer.getSize(res);
      this.setup.camera.aspect = res.x * guiData.cameraAspect / res.y;
      this.setup.camera.updateProjectionMatrix();
    });

    const base_mesh = gui.addFolder('Body Shader');
    // base_mesh.addColor(bodyData, 'diffuse').name('Diffuse color').onChange(updateBodyColors);
    base_mesh.addColor(bodyData, 'fresnelColor').name('Fresnel color').onChange(updateBodyColors);
    base_mesh.addColor(bodyData, 'baseColor').name('Base color').onChange(updateBodyColors);
    base_mesh.addColor(bodyData, 'tintColor').name('Tint color').onChange(updateBodyColors);
    base_mesh.addColor(bodyData, 'orangeColor').name('Orage color').onChange(updateBodyColors);
    base_mesh.add(bodyData, 'fresnelPow', 0.1, 10.0).step(0.001).name('Fresnel pow').onChange(updateUniformsBody);
    base_mesh.add(bodyData, 'fresnelCoeff', 0, 1.0).step(0.001).name('Fresnel coef').onChange(updateUniformsBody);
    base_mesh.add(bodyData, 'fresnelThresh', 0, 1.0).step(0.001).name('Fresnel thrsh width').onChange(updateUniformsBody);
    base_mesh.add(bodyData, 'fresnelCutoff', 0, 1.0).step(0.001).name('Fresnel cutoff').onChange(updateUniformsBody);
    base_mesh.add(bodyData, 'mesh_opacity', 0, 1.0).step(0.001).name('Mesh opacity').onChange(updateUniformsBody);
    base_mesh.add(bodyData, 'mesh_definition', 0, 1.0).step(0.001).name('Mesh shading definition').onChange(updateUniformsBody);
    base_mesh.add(bodyData, 'huee', 0.0, 2 * 3.14).step(0.001).name('huee').onChange(updateUniformsBody);

    const particlesData = guiData.particlesData = {
      // partsColor: `#${this.setup.innerPartsMtl.color.getHexString()}`,
      // vertColor: `#${this.setup.vertexPartsMtl.color.getHexString()}`,
      partsColor: `#${this.setup.innerPartsMtl.uniforms.diffuse.value.getHexString()}`,
      vertColor: `#${this.setup.vertexPartsMtl.uniforms.diffuse.value.getHexString()}`,
      breathSpeed: 1.0,
      zthreshold: this.setup.vertexPartsMtl.uniforms.zthreshold.value,
      coef: this.setup.vertexPartsMtl.uniforms.coef.value,
      multiplier: this.setup.vertexPartsMtl.uniforms.multiplier.value,
      amplitude: this.setup.innerPartsMtl.uniforms.amplitude.value,
    };

    const updateParticlesColor = () => {
      if (this.setup.innerPartsMtl.uniforms) {
        this.setup.innerPartsMtl.uniforms.diffuse.value.set(particlesData.partsColor);
        this.setup.vertexPartsMtl.uniforms.diffuse.value.set(particlesData.vertColor);
      }
    };

    base_mesh.addColor(particlesData, 'partsColor').name('Particles Color').onChange(updateParticlesColor);
    base_mesh.addColor(particlesData, 'vertColor').name('Vertices Color').onChange(updateParticlesColor);
    base_mesh.add(particlesData, 'breathSpeed')
      .name('Breath Speed')
      .onChange(() => {
        if (this.setup.mixer) {
          this.setup.mixer.timeScale = particlesData.breathSpeed;
        }
      });

    base_mesh.add(particlesData, 'zthreshold')
      .name('Z threshold')
      .onChange(() => {
        if (this.setup.innerPartsMtl) {
          this.setup.innerPartsMtl.uniforms.zthreshold.value = particlesData.zthreshold;
          this.setup.vertexPartsMtl.uniforms.zthreshold.value = particlesData.zthreshold;
        }
      });

    base_mesh.add(particlesData, 'coef')
      .step(0.01)
      .name('Coef')
      .onChange(() => {
        if (this.setup.innerPartsMtl) {
          this.setup.innerPartsMtl.uniforms.coef.value = particlesData.coef;
          this.setup.vertexPartsMtl.uniforms.coef.value = particlesData.coef;
        }
      });

    base_mesh.add(particlesData, 'multiplier', 0.0, 1.0)
      .step(0.01)
      .name('Multiplier')
      .onChange(() => {
        if (this.setup.innerPartsMtl) {
          this.setup.innerPartsMtl.uniforms.multiplier.value = particlesData.multiplier;
          this.setup.vertexPartsMtl.uniforms.multiplier.value = particlesData.multiplier;
        }
      });
    base_mesh.add(particlesData, 'amplitude', 0.0, 1.0)
      .step(0.01)
      .name('Amplitude')
      .onChange(() => {
        if (this.setup.innerPartsMtl) {
          this.setup.innerPartsMtl.uniforms.amplitude.value = particlesData.amplitude;
        }
      });

    this.addMaterialGui(gui, "BG", this.setup.bgMat);

    // close GUI for mobile devices
    // const isMobile = /(Android|iPhone|iOS|iPod|iPad)/i.test(navigator.userAgent);
    // if (isMobile) {
    gui.close();
    // }

    this.gui = gui;
    updateColors();
    updateUniforms();
    // updateUniformsBody();
  }

  private mtlData: any = {};

  private addMaterialGui(gui: any, name: string, mtl: THREE.ShaderMaterial) {
    const uni = (mtl as any).customUniforms;
    const folder = gui.addFolder(name);

    const data = this.mtlData[name] = {
      material: mtl,
      uniforms: uni,
      folder: folder,
      data: {},
      onChange() {
        for (const key in data.data) {
          if (key === 'time') continue;
          data.material.uniforms[key].value = (data as any).data[key];
        }
      },
    };

    for (const key in uni) {
      const v = uni[key].value;
      if (typeof v === 'boolean' || typeof v === 'number') {
        (data as any).data[key] = v;
      }
    }

    for (const key in uni) {
      const v = uni[key].value;
      if (typeof v === 'boolean' || typeof v === 'number') {
        (data as any).data[key] = v;
        folder.add(data.data, key)
          .step(0.01)
          .name(key)
          .onChange(data.onChange);
      }
    }
  }

  private loadModel(path: string, objLoader = false) {
    // const fbxLoader = objLoader ? new GLTFLoader() : new FBXLoader();
    const fbxLoader = new FBXLoader();
    return new Promise((resolve) => {
      fbxLoader.load(path, resolve, undefined, (err: any) => {
        console.error(err);
      });
    });
  }

  private setInitialCameraPos() {
    this.setup.camera.position.set(98.456, 14.6, 648.1);
    this.setup.camera.rotation.set(-0.0260996336085264187, 0.15792187849545496, 0.0049710992116813344, "XYZ");
    this.setup.camera.updateProjectionMatrix();
  }

  private async created() {
    // console.log("Scene created");
    const fbxModel = require('!!url-loader!@/assets/models/SK_Character_01.fbx');
    (this as any).fbx = this.loadModel(fbxModel);
  }

  private async mounted() {
    this.mixers = [];
    // console.log(model);
    const canvas = this.canvas = this.$refs.canvas as HTMLCanvasElement;
    this.setup = new Setup(canvas);
    this.handlers = new Handlers(this.setup);

    // For THREE.js debuggers outside in browser
    (window as any).scene = this.setup.scene;
    (window as any).THREE = THREE;
    this.setup.scene.position.x += 7;

    // let fbxM(del = require('../assets/models/mesh_uv.fbx');
    // let fbxModel = require('../assets/models/SK_Character_02.fbx');
    // const fbxModel = require('!!url-loader!../assets/models/SK_Character_01.fbx');
    // const fbx = await this.loadModel(fbxModel) as THREE.Group;
    const fbx = await (this as any).fbx;
    // this.setup.scene.add(fbx);
    await this.setup_scene(this.setup.scene, fbx);
    // this.setupGUIAdvanced();
    // this.setup.camera.position.set(95.17451956906302, 18.159349043650597, 585.6670592075246);
    // this.setup.camera.lookAt(0, 0, 0);
    this.setup.camera.updateProjectionMatrix();

    if (USE_ORBIT_CONTROL) {
      const controls = this.controls = new TrackballControls(this.setup.camera, this.setup.renderer.domElement);
      controls.rotateSpeed = 1.0;
      controls.zoomSpeed = 1.2;
      controls.panSpeed = 0.8;
      controls.noZoom = false;
      controls.noPan = false;
      controls.staticMoving = true;
      controls.dynamicDampingFactor = 0.3;
      controls.keys = [65, 83, 68];
      // this.controls = new OrbitControls( this.setup.camera, this.setup.renderer.domElement );
      this.controls.update();
    }

    // (this.$refs.canvasDiv as HTMLElement).addEventListener("resize", this.onResize)
    // this.onResize();
    window.addEventListener('resize', this.onResize);

    // let dragControls = new DragControls( objects, camera, renderer.domElement );
    // dragControls.addEventListener( 'dragstart', function () {
    //     this.controls.enabled = false;
    // } );
    // dragControls.addEventListener( 'dragend', function () {
    //     this.controls.enabled = true;
    // } );
    // window.addEventListener("mousemove", (e) => {
    //     const aspect = 2732/2048;
    //     const width = window.innerWidth;
    //     const height = 1.0/aspect * width;
    //     const x = e.clientX / width;
    //     const y = e.clientY / height;
    //     const pos = (new THREE.Vector3(x, y, -1)).unproject(this.setup.camera);
    //     this.mesh2.position.x = 0.0;
    //     this.mesh2.position.y = 0.0;
    //     this.mesh2.scale.x = pos.x;
    //     this.mesh2.visible = false;
    //     // console.log(this.mesh2.scale);

    //     // const left = (new THREE.Vector3(-1.0, -1.0, -1)).unproject(this.setup.camera);
    //     //console.log(e);
    // });

    this.initStartValues(false);
    this.onResize(null);
    // requestAnimationFrame(this.animate);
    this.setInitialCameraPos();
    this.animate(0.1);

    setTimeout(() => {
      this.$emit('inited', this);
    }, 1000);
  }

  private async loadBackground() {
    const bgLoading = this.loadModel(require('!!url-loader!@/assets/models/plane_lowpoly.fbx'));
    // const bgLoading = this.loadModel(require('../assets/models/plane_lowpoly.obj'), true);
    const bgGroup = await bgLoading as THREE.Group;
    const bg = this.setup.bg = bgGroup.children[0] as Mesh;
    bg.position.z = -35;

    // Create positions for flat plane
    // to be used for morphing with a standard shader.
    const USE_REAL_MORPH = false;
    if (USE_REAL_MORPH) {
      // const bgGeom = bg.geometry as BufferGeometry;
      // const pos = bgGeom.attributes.position.array;
      // delete bgGeom.attributes.normal;

      // let i = 1;
      // const morph = Array.from(pos, (p) => (i++ % 3) === 0 ? 0 : p );
      // bgGeom.morphAttributes.position = [
      //     new THREE.Float32BufferAttribute( morph, 3 )
      // ];
      // const material = new THREE.MeshPhongMaterial({
      //     lights: true,
      //     flatShading: true,
      //     morphTargets: true,
      //     map: THREE.ImageUtils.loadTexture(require('!!url-loader!../assets/images/T_BGTexture.png')),
      // });
      // bg.material = material;
    } else {
      const phong = THREE.ShaderLib.phong;
      const customUniforms = {
        diffuse: {type: 'c', value: new THREE.Color(50 / 255, 115 / 255, 115 / 255)},
        time: {value: 0.0},
        freq: {value: 0.0},
        phase: {value: 0.0},
        amplitude: {value: 0.0},
        coef: {value: 1.0},
      };
      const uniforms = THREE.UniformsUtils.merge([phong.uniforms, customUniforms]);
      const material = new THREE.ShaderMaterial({
        uniforms,
        defines: {
          // USE_MAP: true,
          // USE_COLOR: true,
        },
        lights: true,
        flatShading: true,
        morphTargets: true,
        vertexShader: require('./shaders/bg_meshphong_vert.glsl.js').default,
        fragmentShader: require('./shaders/bg_meshphong_frag.glsl.js').default,
      });
      bg.material = material;
      (material as any).customUniforms = customUniforms;
      bg.morphTargetInfluences = [0.5];
    }

    return bg;
  }

  @Watch('controlsValues')
  onControlsValues(data: object) {
    this.onDataChanged(data)
  }

  @Watch('isPlayScene')
  onPlayScene() {
    // requestAnimationFrame(this.animate);
    this.animate(0);
  }
  @Watch('isShowBuilder')
  onShowBuilder() {
    // console.log('isShowBuilder', PatientData)
    if(this.isShowBuilder) {
      if(PatientData.eosinophil.value >= 150 ) this.setHomeCameraPos(true)

    } else {
      this.moveCameraToMainPos()

    }
  }
}
</script>

<style scoped>
#webgl-canvas {
  left: 0;
  top: 0;
  position: absolute;
  pointer-events: none;
}

#threejs-canvas-div {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  pointer-events: none;
  transition: clip-path 0.5s;
}

#threejs-canvas-div > canvas {
  width: 100% !important;
  height: 100% !important;
}

.home {
  width: 39.5%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 96.4% 0, 100% 6.9%, 65.6% 100%, 0 100%);
}

.experience {
  transition: 1s;
  width: 75%;
  clip-path: none;
}
</style>
