<template>
  <div class="type-inhibit">
    <AppPageHeader>
      {{ content.pageHeader
      }}<sup v-if="content.pageHeaderSuffix">{{
        content.pageHeaderSuffix
      }}</sup>
    </AppPageHeader>

    <div class="type-inhibit__content">
      <h3 class="type-inhibit__title" v-html="content.pageSubHeader" />

      <table class="type-inhibit__table table">
        <tr>
          <th />
          <th>IL-4</th>
          <th>IL-13</th>
          <th>IL-5</th>
        </tr>
        <tr v-for="(item, index) of symptoms" :key="index">
          <td class="table__symptom">{{ item[0] }}</td>
          <td class="table__il4">
            <img
              v-show="item[1]"
              :src="`./img/inhibit/0.png`"
              alt="il4"
              class="table__img"
            />
          </td>
          <td class="table__il3">
            <img
              v-show="item[2]"
              :src="`./img/inhibit/1.png`"
              alt="il13"
              class="table__img"
            />
          </td>
          <td class="table__il5">
            <img
              v-show="item[3]"
              :src="`./img/inhibit/2.png`"
              alt="il5"
              class="table__img"
            />
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Inject} from 'vue-property-decorator';
import AppPageHeader from '@/components/app/AppPageHeader.vue';

@Component({ components: { AppPageHeader } })
export default class Inhibit extends Vue {
  @Inject('dataContent') private dataContent!: boolean;

  symptoms = (this.dataContent as any)['type2asthma'].inhibit.pageContent.body;
  content: any = (this.dataContent as any)['type2asthma'].inhibit;
}
</script>

<!-- common -->
<style lang="scss" >
.type-inhibit__title {
  margin-bottom: 0;
  margin-top: 25px;
  white-space: pre-line;
  sup{
    line-height: 0;
    font-size:  10px;
  }
}

.type-inhibit__table {
  margin: 35px auto 0;
  background: #ffffff;
  .app-modal--home & {
    width: auto;
    margin: 20px 8px 0;
  }
}
</style>

<!-- table -->
<style lang="scss" scoped>
table {
  width: 87%;
  border-collapse: collapse;
  //box-shadow: 0 0 20px $colorBgActive;
  box-shadow: 0 0px 10px rgba(#25201e, 0.1);
}

tr {
  height: 40px;

  & th,
  & td {
    padding: 17px 20px;

    &:not(:last-of-type) {
      border-right: 1px solid;
    }
    .app-modal--home & {
      padding: 8px 20px;
    }
  }

  & td {
    text-align: center;
  }

  &:nth-child(even) {
    background-color: $colorBgLight;

    & td:not(:last-of-type) {
      border-right-color: $colorBorderLight;
    }
  }

  &:nth-child(odd) {
    & td:not(:last-of-type),
    & th:not(:last-of-type) {
      border-right-color: $colorBorderMain;
    }
  }
}

.table__symptom {
  padding-left: 30px;
  text-align: left;
  width: 442px;
  .app-modal--home & {
    padding-left: 40px;
    width: 455px;
  }
}
.table__il3,
.table__il4 {
  width: 143px;
  padding: 5px;
  .app-modal--home & {
    width: 130px;
  }
}

.table__il5 {
  width: 120px;
  padding: 5px;
}

.table__img {
  width: 45px;
  .app-modal--home & {
    width: 30px;
  }
}
</style>
