<template>
  <div class="types-carousel">
    <VueAgile :infinite="false" :fade="false">
      <div class="slide"><Affects /></div>
      <div class="slide"><Role /></div>
      <div class="slide"><Inhibit /></div>
      <div class="slide">
        <Therapy
          @show-drawer="$emit('show-drawer')"
          @close-modal="$emit('close-modal')"
          :isModal="isModal"
        />
      </div>

      <template slot="prevButton">
        <span class="types-carousel__arrow">&#10094;</span>
      </template>
      <template slot="nextButton">
        <span class="types-carousel__arrow">&#10095;</span>
      </template>
    </VueAgile>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop} from 'vue-property-decorator';
//@ts-ignore
import { VueAgile } from 'vue-agile';
import Affects from './Affects.vue';
import Role from './Role.vue';
import Inhibit from './Inhibit.vue';
import Therapy from './Therapy.vue';

@Component({
  components: { VueAgile, Affects, Role, Inhibit, Therapy },
})
export default class TypesCarousel extends Vue {
  @Prop({ default: false })
  readonly isModal!: boolean;

}
</script>

<style lang="scss">
.types-carousel {
  height: 100%;

  & .agile {
    height: inherit;

    &__list,
    &__track,
    &__slides,
    &__slide {
      height: inherit;
    }
  }

  & .agile__actions {
    //position: absolute;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    //display: flex;
    //align-items: center;
  }

  & .agile__nav-button {
    width: 40px;
    //height: 40px;
    height: 100%;
    position: absolute;
    font-size: 30px;
    top: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:disabled {
      opacity: 0;
    }

    &--prev {
      margin-left: -30px;
      left: 0;
      .types-carousel__arrow {
        background-image: url('~@/assets/images/ui/icon-brand-arrow-left.png');
        background-repeat: no-repeat;
      }
      //.icon-brand-arrow-right.png
    }

    &--next {
      margin-right: -30px;
      right: 0;
      .types-carousel__arrow {
        background-image: url('~@/assets/images/ui/icon-brand-arrow-right.png');
        background-repeat: no-repeat;
      }
    }
  }

  & .agile__dots {
    //align-self: flex-end;
    //margin-bottom: 80px;
    width: 100%;
    justify-content: center;
    //position: relative;
    //top: -35px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .app-modal--home & {
      bottom: 5px;
    }
  }

  & .agile__dot {
    margin: 0 8px;

    & button {
      width: 13px;
      height: 13px;
      background-color: $colorBgActive;
      border: none;
      border-radius: 50%;
    }

    &--current button {
      background-color: $colorBgMain;
    }
  }

  & .types-carousel__arrow {
    color: transparent;
    width: 13px;
    height: 21px;
    display: block;
    background-size: 100% 100%;
  }
}
.app-modal__content {
  .agile__nav-button--prev {
    justify-content: flex-start;
  }
  .agile__nav-button--next {
    justify-content: flex-end;
  }
}
</style>
