* {
  box-sizing: border-box;
}

html {
  //color: $colorFontMain;
  //font-size: #{$fontSizeCommon}px;
  //font-family: $fontCommon;
  //line-height: 1.6471em;
  //font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  color: $colorFontMain;
  font-size: #{$fontSizeCommon}px;
  font-family: $fontCommon;
  line-height: 1.6471em;
  font-weight: 400;
}
html,
body{
  width: 1024px;
  height: 768px;
  position: relative;
}

ul {
  list-style: none;

}

a {
  color: inherit;
  text-decoration: none;
}
p {
  letter-spacing: -0.1px;
}

button{
  font-family: "Ubuntu";
  padding: 0;
  margin: 0;
  &:focus,
  &:active{
    outline: none;
  }
}
sub{
  font-size: 50%!important;
}
small{
  font-size: 50%;
}
