+b(component)
  +e(content)
    //display: flex

  +e(title)
    margin-top: 10px
    white-space: pre-line
    sup
      font-size: 10px
  +e(footer-note)
    font-size: 10px
    position: absolute
    bottom: 18px
    white-space: pre-line
    line-height: 1.2
    +m(home)
      left: 420px
      color: #fff
      bottom: 10px
